body {
    font-family: sans-serif;
}

header {
    background-color: lightsteelblue;
    padding: 5px;
    border-radius: 30px;
    font-size: 30px;
}

header p {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    margin-left: 50px;
}

p a {
    text-decoration: none;
    background-color: white;
    padding: 0px;
    border-radius: 0px;
    font-size: 20px;
    margin-left: 50px;
}

p img {
    margin-left: 50px;
}

.im1 {
    margin-left: 200px;
}
.info {
    font-size: 20px;
}

footer {
    background-color: lightsteelblue;
    padding: 5px;
    border-radius: 30px;
}

footer a {
    background-color: white;  
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
}
